.unirse {
	display: inline-block;
	float: left;
	text-align: left;
	margin: 0 auto;
	padding: 0 auto;
	box-sizing: border-box;
}

.permisos {
	display: inline-block;
	float: right;
	text-align: left;
	margin: 0 auto;
	padding: 0 auto;
	box-sizing: border-box;
}

.boton {
	width: 10%;
}

body {
	object-position: center;
	text-align: center;
	margin: 0 auto;
	padding: 0 auto;
	width: 40%;
}
