body {
	display: block;
	width: 60%;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

.left {
	float: left;
	width: 50%;
	height: 100%;
	margin: 0 auto;
	text-align: left;
	display: block;
	padding: 12px 20px;
	box-sizing: border-box;
	text-align: center;
	border-right: 2px solid #eee;
}

.boton, .socialMedia {
	
}

.rigth {
	float: right;
	width: 50%;
	margin: 0 auto;
	text-align: left;
	display: block;
	padding: 12px 20px;
	box-sizing: border-box;
	height: 100%;
}

img.mapa {
	width: 400px;
  	height: 300px; 
  	display: inline;
  	box-sizing: border-box;
  	margin: 0 35%;
}