* {
  padding: 0;
  margin: 0;
}

body {
	display: inline-flex;
	width: 50%;
	margin: 0 25%;
	padding: 0 auto;
}

.left {
	float: left;
	display: inline-block;
}

.right {
	float: right;
	display: inline-block;
}

h3 {
	text-align: center;
}

select {
	width: 200px;
}

input[type="date"], input[type="datetime-local"] {
	width: 100px;
}

input[type="submit"], input[type="reset"] {
	margin: 0 auto;
}