<!DOCTYPE html>
<html>
<head>
  <title>Ronald Cardona Martinez</title>
  <h1> Ronald Cardona</h1>
  <h4>GDFGFHJK</h4>
  <img src = "http://interactiva.eafit.edu.co/ei/mostrarFoto.do?id=125564" />
  
</head>
<body>

  <p>Hola Soy Ronald Cardona !</p>
  
  <ul>
  	<li><a href = "https://github.com/ronaldKM98" target = "_blank">Git 					Hub</a></li>
    <li><a href = "https://www.facebook.com						   					/ronald.cardonamartinez.1" target 				    					= "_blank">Facebook</a></li>
    <li><a href = "file:///C:/Users/RONALD/Documents/EAFIT/2017-1/Base%20de%20datos/Proyecto/SpaceManager/Proyecto%20programacion/View/static/Ensayo.html" target 				    					= "_blank">Recursion!</a></li>
  </ul>


</body> 
</html>