<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Nombre de la Organizacion - SpaceManager</title>
    <link rel="stylesheet" type="text/css" href="css/orgSedes.css">
    <h1>Nombre de la organizacion</h1>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Sedes</a></li>
          <li><a href="#">Usuarios Miembros</a></li>
          <li><a href="#">Solicitudes</a></li>
          <li><a href="#">Informacion Adicional</a></li>
        
        </ul>
      
      </nav>
    
    </header>

    <div class="contenido">
     <div class="sedes">
       <h3>Sedes</h3>
        <table>
          <thead>
            <tr>
              <th scope="col">Nombre de la sede</th>
              <th scope="col">Moderador</th>
              <th scope="col">Estado</th>
              <th scope="col">Ir a la sede</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>value</td>
              <td>value</td>
              <td>value</td>
              <td>value</td>
            </tr>
            <tr>
              <td>value</td>
              <td>value</td>
              <td>value</td>
              <td>value</td>
            </tr>
            <tr>
              <td>value</td>
              <td>value</td>
              <td>value</td>
              <td>value</td>
            </tr>
          </tbody>
        </table>
        <form>
          <input type="text" name="criterio" placeholder="Buscar una sede" required>
          <input type="submit" name="Buscar">
        </form>
         
     </div>

     <div class="botones">
       <button onclick="Crear_Sede()">Crear Sede</button>
     </div>
    </div>

  </body>
</html>