<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Nombre de la Organizacion - SpaceManager</title>
    <link rel="stylesheet" type="text/css" href="css/orgMaster.css">
    <h1>*Nombre de la organizacion*</h1>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Sedes</a></li>
          <li><a href="#">Usuarios Miembros</a></li>
          <li><a href="#">Solicitudes</a></li>
          <li><a href="#">Informacion Adicional</a></li>
        
        </ul>
      
      </nav>
    
    </header>

    <div class="contenido">
     <div class="mensajes">
       <h3>Mensajes</h3>
        <table>
          <thead>
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Tipo</th>
              <th scope="col">Asunto</th>
              <th scope="col">Remitente</th>
              <th scope="col">Leer</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>value</td>
              <td>value</td>
              <td>value</td>
              <td>value</td>
              <td>value</td>
            </tr>
            <tr>
              <td>value</td>
              <td>value</td>
              <td>value</td>
              <td>value</td>
              <td>value</td>
            </tr>
            <tr>
              <td>value</td>
              <td>value</td>
              <td>value</td>
              <td>value</td>
              <td>value</td>
            </tr>
          </tbody>
        </table>
        <button onclick="Nuevo_Mensaje()">Nuevo Mensaje</button> 
     </div>

     <div class="botones">
       <button onclick="Reservar()">Reservar Espacio</button>
       <button onclick="Abandonar()">Abandonar Organizacion</button>
     </div>
    </div>

  </body>
</html>