<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Perfil - SpaceManager</title>
    <link rel="stylesheet" type="text/css" href="css/perfil.css">
  </head>
  <body>

  	<div class="left">
  		<div class= "perfil">
  			<img src="https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-8/htmlcss1-img_bike.png" class="fotoPerfil">
  			<h3>Nombre</h3>
  			<h6>Correo Electronico</h6>
  			<button type="button">Editar</button><br> 
  		</div>
  		<br>
  		<div class="busqueda">
  			<form>
  				<br>
  				<input type="text" name="criterio" placeholder="Busca Usuarios y Organizaciones en SpaceAdmin" size=50><br>
  				<input type="submit" value="Buscar">
  			</form>
  		</div>

  		<div class="table">
	  		<h3>Actividad Reciente</h3>
	  		<table>
	  			<thead>
	  				<tr>
	  					<th scope="col">Campo tabla</th>
	  					<th scope="col">Campo tabla</th>
	  					<th scope="col">Campo tabla</th>
	  				</tr>
	  			</thead>
	  			<tbody>
	  				<tr>
	  					<td>value</td>
	  					<td>value</td>
	  					<td>value</td>
	  				</tr>
	  			</tbody>
	  		</table>
  		</div>
  	</div>

  	<div class = "right">
  		<div class="Organizaciones">
  			<div class="orgIzq">
  			
  				<button type="button">Crear tu Organizacion</button>
  			</div>

  			<div class=orgDer"">
  			
  				<button type="button">Unirse a una Organizacion</button>
  			</div>
  		</div>

  		<div class="reservas">
  			<div class="table">
		  		<h3>Mis Reservas</h3>
		  		<table>
		  			<thead>
		  				<tr>
		  					<th scope="col">Campo tabla</th>
		  					<th scope="col">Campo tabla</th>
		  					<th scope="col">Campo tabla</th>
		  				</tr>
		  			</thead>
		  			<tbody>
		  				<tr>
		  					<td>value</td>
		  					<td>value</td>
		  					<td>value</td>
		  				</tr>
		  			</tbody>
		  		</table>
  			</div>
  		</div>
  	</div>

  </body>
</html>