<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Nombre de la Organizacion - SpaceManager</title>
    <link rel="stylesheet" type="text/css" href="css/verBloque.css">
    <h1>Nombre del Bloque</h1>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Informacion del nivel</a></li>
        </ul>
      
      </nav>
    
    </header>

    <div class="contenido">
      <h1>Informacion Del Bloque</h1>
      <div class="left">
        <h4>Descripcion</h4>
        <p>Aqui va la descripcion del bloque Aqui va la descripcion del bloque Aqui va la descripcion del bloque Aqui va la descripcion del bloque Aqui va la descripcion del bloque Aqui va la descripcion del bloque Aqui va la descripcion del bloque Aqui va la descripcion del bloque Aqui va la descripcion del bloque Aqui va la descripcion del bloque Aqui va la descripcion del bloque Aqui va la descripcion del bloque Aqui va la descripcion del bloque Aqui va la descripcion del bloque</p>
      </div>

      <div class="rigth">
        Usuario Encargado <label>Nombre Usuario</label>
        Numero de Niveles<label>Numero de Niveles</label>
      </div>
    </div>
</body>
</html>