<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Niveles - SpaceManager</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bloqueNiveles.css') }}">
    <h1>Nombre del bloque</h1>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Informacion del bloque</a></li>
        
        </ul>
      
      </nav>
    
    </header>

    <div class="contenido">
     <div class="niveles">
       <h3>Niveles</h3>
        <table>
          <thead>
            <tr>
              <th scope="col">Numero</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Usuario a cargo</th>
              <th scope="col">Ver mas</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>value</td>
              <td>value</td>
              <td>value</td>
              <td>value</td>
            </tr>
            <tr>
              <td>value</td>
              <td>value</td>
              <td>value</td>
              <td>value</td>
            </tr>
            <tr>
              <td>value</td>
              <td>value</td>
              <td>value</td>
              <td>value</td>
            </tr>
          </tbody>
        </table>
        <form>
          <input type="text" name="criterio" placeholder="Buscar un nivel" required>
          <input type="submit" name="Buscar">
        </form>
         
     </div>

     <div class="botones">
       <button onclick="Crear_Nivel()">Crear Nivel</button>
     </div>
    </div>

  </body>
</html>