<!DOCTYPE html>
<html>

  <head>

    <meta charset="UTF-8">
    <title>Sign Up - SpaceManager</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/crearMensaje.css') }}">
    <h1>Nombre de la Organizacion</h1>
  </head>
  <body>
    <h3>Nuevo Mensaje</h3>

	  <form action = "#" method="post">
	  	<div class="container">
	  		<div class="left">
          Tipo<br>
          <input type="text" name="Tipo" placeholder="{Importante | Notificacion | Tramite}" required maxlength=45><br><br>
          Asunto<br>
          <input type="text" name="asunto" placeholder="Asunto" required maxlength=140><br><br>
          <input type="submit" name="Enviar" value="Enviar">
        </div>

        <div class="rigth">
          Mensaje<br>
           <textarea name="message" rows="10" cols="30"></textarea>
        </div>
      </div>

    </form>
  </body>
</html>
