<!DOCTYPE html>
<html>

  <head>

    <meta charset="UTF-8">
    <title>Editar Bloque - SpaceManager</title>
    <link rel="stylesheet" type="text/css" href="css/crearBloque.css">
  </head>
  <body>

    <div class="container">
  		<div class="nombre">
        <form>
          Nombre del bloque<input type="number" name="consecutivo" required min="0">
          <input type="submit" name="form" value="Guardar">
    		</form>
        <form>
          Descripcion<input type="text" name="descripcion" required maxlength="140" placeholder="Descripcion del bloque">
          <input type="submit" name="form" value="Guardar">
        </form>
      </div>

      <div class="usuarioEncargado">
        <form>
  		    Usuario Encargado
				  <input type="text" name="userEncargado" required maxlength="97" placeholder="Buscar por nombre o por id"><br>
				  <input type="submit" name="busqueda" value="Buscar"><br>
			     <br>
      
    			<label>Seleccione un usuario encargado del bloque</label><br>
    			<select name="Usuario encargado" required>
    				<option value="01">Usuario1</option>
    				<option value="02">Usuario2</option>
    				<option value="03">Usuario3</option>
    			</select>
          <input type="submit" name="busqueda" value="Guardar">
        </form>
      </div>

      <div class="botones">
      <br>
  			<button onclick="Volver()">Volver</button>
	  	</div>

      </div>
  </body>

</html>