<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Editar Organizacion - SpaceManager</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/editarOrganizacion_2.css') }}">
  </head>
  <body>
  	
  		<h4>Configuracion Estandar de Usuarios</h4>
  		<div class="unirse"> 
	  		<form>
	  		<input type="checkbox" name="Por Invitacion">Invitacion<br>
	  		<input type="checkbox" name="Por Solicitud">Solicitud<br>
	  		<input type="checkbox" name="Libre">Libre<br><br>
	  		<input type="reset" name="Limpiar" value="Limpiar">
        <input type="submit" name="Guardar" value="Guardar"><br>
  		  </form>
      </div>
    

      <div class="permisos">
        <form>
  	  		<input type="checkbox" name="Organizacion">Organizacion<br>
  	  		<input type="checkbox" name="Sede">Sede<br>
  	  		<input type="checkbox" name="Bloque">Bloque<br>
  	  		<input type="checkbox" name="Nivel">Nivel<br>
  	  		<input type="checkbox" name="Espacio">Espacio<br>
  	  		<input type="checkbox" name="Reserva">Reserva<br><br>
  	  		<input type="reset" name="Limpiar" value="Limpiar">
    		  <input type="submit" name="Guardar" value="Guardar">
        </form>
  	 </div>

     <div class="boton">
        <button onclick="volver()">Volver</button>
     </div>
  </body>
</html>