<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Nombre de la Organizacion - SpaceManager</title>
    <link rel="stylesheet" type="text/css" href="css/informacionNivel.css">
    <h1>Nombre del nivel</h1>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Informacion del nivel</a></li>
        </ul>
      
      </nav>
    
    </header>

    <div class="contenido">
      <h1>Informacion Del Nivel</h1>
      <div class="left">
        <h4>Descripcion</h4>
        <p>Aqui va la descripcion del nivel Aqui va la descripcion del nivel Aqui va la descripcion del nivel Aqui va la descripcion del nivel Aqui va la descripcion del nivel Aqui va la descripcion del nivel Aqui va la descripcion del nivel Aqui va la descripcion del nivel Aqui va la descripcion del nivel Aqui va la descripcion del nivel Aqui va la descripcion del nivel Aqui va la descripcion del nivel Aqui va la descripcion del nivel</p>
      </div>

      <div class="rigth">
        <b>Usuario Encargado</b> <label>Nombre Usuario</label><br>
        <b>Numero de espacios</b> <label>Numero de espacios</label><br>
        <br>
        <table>
          <thead>
            <tr>
              <th scope="col">Espacio</th>
              <th scope="col">Tiene?</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Cocineta</td>
              <td>Si</td>
            </tr>
            <tr>
              <td>Baño</td>
              <td>Si</td>
            </tr>
            <tr>
              <td>Sala de estar</td>
              <td>No</td>
            </tr>
          </tbody>
        </table><br>
      </div>
    </div>
</body>
</html>