<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Nombre de la Organizacion - SpaceManager</title>
    <link rel="stylesheet" type="text/css" href="css/informacionBloque.css">
    <h1>Nombre del Bloque</h1>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Informacion del bloque</a></li>
        </ul>
        
      
      </nav>
    
    </header>

    <div class="contenido">
      
      <div class="left">
        <h1>Informacion Del Bloque</h1>
        <h4>Descripcion</h4>
        <p>Aqui va la descripcion del bloque Aqui va la descripcion del bloque Aqui va la descripcion del bloque Aqui va la descripcion del bloque Aqui va la descripcion del bloque Aqui va la descripcion del bloque Aqui va la descripcion del bloque Aqui va la descripcion del bloque Aqui va la descripcion del bloque Aqui va la descripcion del bloque Aqui va la descripcion del bloque Aqui va la descripcion del bloque Aqui va la descripcion del bloque Aqui va la descripcion del bloque</p>
      </div>

      <div class="rigth">
        <b>Usuario Encargado</b> <label>Nombre Usuario</label><br>
        <b>Numero de Niveles</b> <label>Numero de Niveles</label><br>
      </div>
    </div>
</body>
</html>