<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Crear Organizacion - SpaceManager</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/nuevaOrganizacion_1.css') }}">
  </head>
  <body>
  	<form action = "#" method="post">
  		<div class="nombre">
  			Nombre de la organizacion
		  		<input type="text" name="nombre" placeholder="Escribe el nombre de tu organizacion" required maxlength=100 size=40><br><br>
  		</div>
  		<div class="descripcion">
  			Descripcion
		  	   <input type="text" name="descripcion" placeholder="A que te dedicas ?" maxlength=140 size=40><br><br>
  		</div>

  		<div class="opcional">

	  		<h3>Datos Opcionales</h3>
	  		Facebook <input type="text" name="Facebook"><br>
	  		Google <input type="text" name="Google"><br>
	  		Twitter <input type="text" name="Twitter"><br>
	  		LinkedIn <input type="text" name="LinkedIn"><br>
	  		Instagram <input type="text" name="Instagram"><br>
	  		Telefono <input type="text" name="Telefono"><br>
		</div>

		<div class="pie">
			<br>
		  	<input type="submit" value="Seguir">
	  		<input type="reset" name="Limpiar Formulario">
	  		<input type="button" onclick="login.html" value="Cancelar">
		</div>

  	  </form>
	</body>
 </html>