<!DOCTYPE html>

{% from '_macro.html' import render_Field%}

<html>
  <head>
    <meta charset="UTF-8">
    <title>Crear Organizacion - SpaceManager</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/nuevaOrganizacion_1.css') }}">
  </head>
  <body>
  	<form method="post">
  		<div class="nombre">
  			{{render_Field(form.Nombre_Org, class='')}}
  		</div>
  		<div class="descripcion">
  			{{render_Field(form.Descripcion, class='')}}
  		</div>

  		<div class="opcional">

	  		<h3>Datos Opcionales</h3>
	  		{{render_Field(form.Facebook, class='')}}<br>
	  		{{render_Field(form.Google, class='')}}<br>
	  		{{render_Field(form.Twitter, class='')}}<br>
	  		{{render_Field(form.LinkedIn, class='')}}<br>
	  		{{render_Field(form.Instagram, class='')}}<br>
	  		{{render_Field(form.Telefono, class='')}}<br>
		</div>

		<div class="pie">
			<br>
		  	<input type="submit" value="Seguir">
	  		<input type="reset" name="Limpiar Formulario">
	  		<input type="button" onclick="login.html" value="Cancelar">
		</div>

  	  </form>
	</body>
 </html>