<!DOCTYPE html>
{% from '_macro.html' import render_Field%}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Crear Organizacion - SpaceManager</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/nuevaOrganizacion_2.css') }}">
  </head>
  <body>
  	<form method="post">
  		<h4>Configuracion Estandar de Usuarios</h4>
  		<div class="unirse"> 
	  		{% for subfield in form.tipo_enrroll %}
				 <tr>
				<td>{{ subfield }}</td>
				<td>{{ subfield.label }}</td>
				</tr><br>
			{% endfor %}


	  		<input type="submit" name="Crear">
  		</div>

  		<div class="permisos">

			{{render_Field(form.Organizacion, class='')}}
			{{render_Field(form.Sede, class='')}}
			{{render_Field(form.Bloque, class='')}}
			{{render_Field(form.Nivel, class='')}}
			{{render_Field(form.Espacio, class='')}}
			{{render_Field(form.Reserva, class='')}}

	  		<input type="button" onclick="nuevaOrganizacion_1.html" value="Atras">
	  		<input type="reset" name="Limpiar">
  		</div>
  	</form>
  </body>
  </html>

