<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Perfil - SpaceManager</title>
    <link rel="stylesheet" type="text/css" href="css/orgExterno.css">
  </head>
  <body>
  	<div class="header">
  		<h1>Nombre Organizacion</h1>
  	</div>

  	<div class="left">
  		<div class= "Informacion">
  			<h3>Informacion</h3>
  			<p>Hello, :) this org will put here a very long long long long long long long long long long long
  			long long long long long long long long long so long long long long long long long long long 
  			 long long long long long long long long long long organizational description. U2</p>
  		</div>
      <br>
  		<div class="boton">
  			<input type="button" onclick="enrollarUser" value="Unirse">
  		</div>
      <br>
		<div class="socialMedia">
			<a href="#"> Facebook</a>
			<a href="#"> Google</a>	
			<a href="#"> Twitter</a><br>
			<a href="#"> LinkedIn</a>
			<a href="#"> Instagram</a>
			<a href="#"> Contacto</a>
		</div>
  	</div>

  	<div class="rigth">
  		<img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Island_of_California.jpg" class="mapa">
  	</div>

  </body>
  </html>