<!DOCTYPE html>
{% from '_macro.html' import render_Field%}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Reservar - SpaceManager</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/reservar.css')}}">
  </head>
  <body>
  	<div class="left">
  		<h3>Busqueda por horario</h3>
  		<form method="post">
  			<b>{{render_Field(form.Fecha_Inicio, class='')}}</b><br>
			<b>{{render_Field(form.Fecha_Fin, class='')}}</b><br>
			<b>{{render_Field(form.Hora_Inicio, class='')}}</b><br>
			<b>{{render_Field(form.Hora_Fin, class='')}}</b><br>

  			<b>Dias</b><br><br>

			<b>{{render_Field(form.Lunes, class='')}}</b><br>
			<b>{{render_Field(form.Martes, class='')}}</b><br>
			<b>{{render_Field(form.Miercoles, class='')}}</b><br>
			<b>{{render_Field(form.Jueves, class='')}}</b><br>
			<b>{{render_Field(form.Viernes, class='')}}</b><br>
			<b>{{render_Field(form.Sabado, class='')}}</b><br>
			<b>{{render_Field(form.Domingo, class='')}}</b><br>

  			<input type="reset" name="reset" value="Limpiar">
  			<input type="submit" name="enviar" value="Buscar">
  		</form>
  	</div>


  </body>
</html>