<!DOCTYPE html>
<html>

  <head>

    <meta charset="UTF-8">
    <title>Resultados Reserva - SpaceManager</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/reservarResultados.css') }}">
    <h1>Reserva ID</h1><h3>#########</h3>
  </head>
  	<body>
		<div class="tabla">
			<table>
	  			<thead>
	  				<tr>
						<th scope="col">Dia</th>
	  					<th scope="col">Bloque</th>
	  					<th scope="col">Nivel</th>
	  					<th scope="col">Indicador Espacio</th>
	  					<th scope="col">RESERVAR</th>
	  				</tr>
	  			</thead>
	  			<tbody>

				{% if lunes %}

						{% for espacios in disponibles ['lunes'] %}

								<tr>
								<form  method="GET">
										<td><input type="text"  name="dias" VALUE = "lunes"  ><br/></td>
										<td ><input type="text" name="bloque" VALUE = {{espacios[2]}}  ><br/></td>
										<td ><input type="text" name="nivel" VALUE = {{espacios[1]}}  ><br/></td>
										<td ><input type="text" name="salon" VALUE = {{espacios[0]}}  ><br/></td>
										<td><button type="submit">RESERVAR</button></td>
								</form>
								</tr>

						{%endfor%}
				{%endif%}

				{% if martes %}

						{% for espacios in disponibles ['martes'] %}

								<tr>
								<form  method="GET">
										<td><input type="text"  name="dias" VALUE = "martes"  ><br/></td>
										<td ><input type="text" name="bloque" VALUE = {{espacios[2]}}  ><br/></td>
										<td ><input type="text" name="nivel" VALUE = {{espacios[1]}}  ><br/></td>
										<td ><input type="text" name="salon" VALUE = {{espacios[0]}}  ><br/></td>
										<td><button type="submit">RESERVAR</button></td>
								</form>
								</tr>

						{%endfor%}
				{%endif%}

				{% if miercoles %}

						{% for espacios in disponibles ['miercoles'] %}

								<tr>
								<form  method="GET">
										<td><input type="text"  name="dias" VALUE = "miercoles"  ><br/></td>
										<td ><input type="text" name="bloque" VALUE = {{espacios[2]}}  ><br/></td>
										<td ><input type="text" name="nivel" VALUE = {{espacios[1]}}  ><br/></td>
										<td ><input type="text" name="salon" VALUE = {{espacios[0]}}  ><br/></td>
										<td><button type="submit">RESERVAR</button></td>
								</form>
								</tr>

						{%endfor%}
				{%endif%}

				{% if jueves %}

						{% for espacios in disponibles ['jueves'] %}

								<tr>
								<form  method="GET">
										<td><input type="text"  name="dias" VALUE = "jueves"  ><br/></td>
										<td ><input type="text" name="bloque" VALUE = {{espacios[2]}}  ><br/></td>
										<td ><input type="text" name="nivel" VALUE = {{espacios[1]}}  ><br/></td>
										<td ><input type="text" name="salon" VALUE = {{espacios[0]}}  ><br/></td>
										<td><button type="submit">RESERVAR</button></td>
								</form>
								</tr>

						{%endfor%}
				{%endif%}

				{% if viernes %}

						{% for espacios in disponibles ['viernes'] %}

								<tr>
								<form  method="GET">
										<td><input type="text"  name="dias" VALUE = "viernes"  ><br/></td>
										<td ><input type="text" name="bloque" VALUE = {{espacios[2]}}  ><br/></td>
										<td ><input type="text" name="nivel" VALUE = {{espacios[1]}}  ><br/></td>
										<td ><input type="text" name="salon" VALUE = {{espacios[0]}}  ><br/></td>
										<td><button type="submit">RESERVAR</button></td>
								</form>
								</tr>

						{%endfor%}
				{%endif%}

				{% if sabado %}

						{% for espacios in disponibles ['sabado'] %}

								<tr>
								<form  method="GET">
										<td><input type="text"  name="dias" VALUE = "sabado"  ><br/></td>
										<td ><input type="text" name="bloque" VALUE = {{espacios[2]}}  ><br/></td>
										<td ><input type="text" name="nivel" VALUE = {{espacios[1]}}  ><br/></td>
										<td ><input type="text" name="salon" VALUE = {{espacios[0]}}  ><br/></td>
										<td><button type="submit">RESERVAR</button></td>
								</form>
								</tr>

						{%endfor%}
				{%endif%}

				{% if domingo %}

						{% for espacios in disponibles ['domingo'] %}

								<tr>
								<form  method="GET">
										<td><input type="text"  name="dias" VALUE = "domingo"  ><br/></td>
										<td ><input type="text" name="bloque" VALUE = {{espacios[2]}}  ><br/></td>
										<td ><input type="text" name="nivel" VALUE = {{espacios[1]}}  ><br/></td>
										<td ><input type="text" name="salon" VALUE = {{espacios[0]}}  ><br/></td>
										<td><button type="submit">RESERVAR</button></td>
								</form>
								</tr>

						{%endfor%}
				{%endif%}
	  			</tbody>
	  		</table>
		</div>

		<div class="pie">
			<button onclick="Volver()">Reserva Anterior</button>
			<b>Reserva numero </b><label> ## </label><b> de </b><label> ## </label>
			<button onclick="reservar()">Siguiente</button>
		</div>
	</body>
</html>