<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Bloques - SpaceManager</title>
    <link rel="stylesheet" type="text/css" href="css/sedeBloques.css">
    <h1>Nombre de la sede</h1>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Informacion de la Sede</a></li>
        
        </ul>
      
      </nav>
    
    </header>

    <div class="contenido">
     <div class="bloques">
       <h3>Bloques</h3>
        <table>
          <thead>
            <tr>
              <th scope="col">Nombre del bloque</th>
              <th scope="col">Tipo</th>
              <th scope="col">Usuario a cargo</th>
              <th scope="col">Estado</th>
              <th scope="col">Ver mas</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>value</td>
              <td>value</td>
              <td>value</td>
              <td>value</td>
              <td>value</td>
            </tr>
            <tr>
              <td>value</td>
              <td>value</td>
              <td>value</td>
              <td>value</td>
              <td>value</td>
            </tr>
            <tr>
              <td>value</td>
              <td>value</td>
              <td>value</td>
              <td>value</td>
              <td>value</td>
            </tr>
          </tbody>
        </table>
        <form>
          <input type="text" name="criterio" placeholder="Buscar un bloque" required>
          <input type="submit" name="Buscar">
        </form>
         
     </div>

     <div class="botones">
       <button onclick="Crear_Bloque()">Crear Bloque</button>
     </div>
    </div>

  </body>
</html>