<!DOCTYPE html>
<html>

  <head>

    <meta charset="UTF-8">
    <title>Crear Nivel - SpaceManager</title>
    <link rel="stylesheet" type="text/css" href="css/crearNivel.css">
  </head>
  <body>
  	<form>
    <div class="container">
  		<div class="nombre">
        Numero del espacio<input type="number" name="consecutivo" required min="0">
        Capacidad<input type="number" name="consecutivo" required min="0">
    		Descripcion<input type="text" name="descripcion" required maxlength="140" placeholder="Descripcion del nivel">
      </div>
			<br>
      
      <div class="checkbox">
        <label>Permisos necesarios para reservar este espacio</label>
        <input type="checkbox" name="reserva">Reserva
        <input type="checkbox" name="nivel">Nivel
        <input type="checkbox" name="bloque">Bloque
        <input type="checkbox" name="sede">Sede
        <input type="checkbox" name="organizacion">Organizacion
      </div>
      
      <div class="botones">
			<input type="submit" name="form" value="Crear">
  			<input type="reset" value="Limpiar">
  			<button onclick="Cancelar()">Cancelar</button>
	  	</div>
      </div>
  	</form>
  </body>

</html>