<!DOCTYPE html>
<html>

  <head>

    <meta charset="UTF-8">
    <title>Crear Nivel - SpaceManager</title>
    <link rel="stylesheet" type="text/css" href="css/crearNivel.css">
  </head>
  <body>
  	<form id="nivel">
    <div class="container">
  		<div class="nombre">
        Nombre del nivel<input type="number" name="consecutivo" required min="0"><br>
    		<label>Descripcion</label><br>
        <textarea name="descripcion" form="nivel" required>Descripcion del bloque</textarea>
      </div>
      <div class="usuarioEncargado">
  		Usuario Encargado
				<input type="text" name="userEncargado" required maxlength="97" placeholder="Buscar por nombre o por id"><br>
				<input type="submit" name="busqueda" value="Buscar"><br>
			<br><br>
      
			<label>Seleccione un usuario encargado del nivel</label>
			<select name="Usuario encargado" required>
				<option value="01">Usuario1</option>
				<option value="02">Usuario2</option>
				<option value="03">Usuario3</option>
			</select>
			<br>
      </div>
      <div class="checkbox">
        <label>Seleccione los espacios publicos que tiene el nivel</label><br><br>
        <input type="checkbox" name="cocineta">Cocineta
        <input type="checkbox" name="baño">Baño
        <input type="checkbox" name="sala">Sala De Estar
      </div>
      <div class="botones">
      <br>
			<input type="submit" name="form" value="Crear">
  			<input type="reset" value="Limpiar">
  			<button onclick="Cancelar()">Cancelar</button>
	  	</div>
      </div>
  	</form>
  </body>

</html>
