<!DOCTYPE html>
<html>

  <head>

    <meta charset="UTF-8">
    <title>Crear Nivel - SpaceManager</title>
    <link rel="stylesheet" type="text/css" href="css/crearNivel.css">
  </head>
  <body>

    <div class="container">
      <div class="nombre">
        Numero del espacio<label>Numero del espacio</label>>
        Capacidad<label>Capacidad</label>
        Descripcion<label>Descripcion</label>
      </div>
      <br>
      
      <div class="checkbox">
        <label>Permisos necesarios para reservar este espacio</label>
        <label>Reserva</label>
        <label>Nivel</label>
        <label>Bloque</label>
        <label>Sede</label>
        <label>Organizacion</label>
      </div>
      
      <div class="botones">
        <button onclick="reservar()">Reservar</button>
        <button onclick="Editar Espacio"></button>
        <button onclick="Volver()">Volver</button>
      </div>
      </div>
  </body>

</html>