<!DOCTYPE html>
<html>

  <head>

    <meta charset="UTF-8">
    <title>Informacion Espacio - SpaceManager</title>
    <link rel="stylesheet" type="text/css" href="css/informacionEspacio.css">

  </head>
  <body>

    <div class="container">
      
        <b>Numero del espacio</b> <label>Numero del espacio</label><br><br>
        <b>Capacidad</b> <label>Capacidad</label><br><br>
        <b>Descripcion</b>
          <p>Aqui va una bella descripcion del espacio Aqui va una bella descripcion del espacio Aqui va una bella descripcion del espacio Aqui va una bella descripcion del espacioAqui va una bella descripcion del Espacio Aqui va una bella descripcion del espacio Aqui va una bella descripcion del espacio Aqui va una bella descripcion del espacio Aqui va una bella descripcion del espacio Aqui va una bella descripcion del espacio Aqui va una bella descripcion del espacio Aqui va una bella descripcion del espacio</p>
        <br><br>

        <b>Permisos necesarios para reservar este espacio</b>
        <table>
          <thead>
            <tr>
              <th scope="col">Permiso</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Reserva</td>
              <td>Si</td>
            </tr>
            <tr>
              <td>Nivel</td>
              <td>Si</td>
            </tr>
            <tr>
              <td>Bloque</td>
              <td>No</td>
            </tr>
            <tr>
              <td>Sede</td>
              <td>No</td>
            </tr>
            <tr>
              <td>Organizacion</td>
              <td>No</td>
            </tr>
          </tbody>
        </table><br>

        <button onclick="reservar()">Reservar</button>
        <button onclick="EditarEspacio()">Editar</button>
        <button onclick="Volver()">Volver</button>
      </div>
  </body>

</html>