<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Espacios - SpaceManager</title>
    <link rel="stylesheet" type="text/css" href="css/nivelEspacios.css">
    <h1>Numero de nivel</h1>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Informacion del nivel</a></li>
        
        </ul>
      
      </nav>
    
    </header>

    <div class="contenido">
     <div class="espacios">
       <h3>Espacios</h3>
        <table>
          <thead>
            <tr>
              <th scope="col">Numero</th>
              <th scope="col">Capacidad</th>
              <th scope="col">Estado</th>
              <th scope="col">Ver mas</th>
              <th scope="col">Editar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>value</td>
              <td>value</td>
              <td>value</td>
              <td>value</td>
              <td>value</td>
            </tr>
            <tr>
              <td>value</td>
              <td>value</td>
              <td>value</td>
              <td>value</td>
              <td>value</td>
            </tr>
            <tr>
              <td>value</td>
              <td>value</td>
              <td>value</td>
              <td>value</td>
              <td>value</td>
            </tr>
          </tbody>
        </table>
        <form>
          <input type="text" name="criterio" placeholder="Buscar un espacio" required>
          <input type="submit" name="Buscar">
        </form>
         
     </div>

     <div class="botones">
       <button onclick="Crear_Espacio()">Crear Espacio</button>
       <button onclick="Reservar()">Reservar Espacio</button>
     </div>
    </div>

  </body>
</html>