<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Perfil - SpaceManager</title>
    <link rel="stylesheet" type="text/css" href="css/nuevaOrganizacion_2.css">
  </head>
  <body>
  	<form>
  		<h4>Configuracion Estandar de Usuarios</h4>
  		<div class="unirse"> 
	  		
	  		<input type="checkbox" name="Por Invitacion">Invitacion<br>
	  		<input type="checkbox" name="Por Solicitud">Solicitud<br>
	  		<input type="checkbox" name="Libre">Libre<br><br><br><br><br>
	  		<input type="submit" name="Crear">
  		</div>

  		<div class="permisos">
	  		<input type="checkbox" name="Organizacion">Organizacion<br>
	  		<input type="checkbox" name="Sede">Sede<br>
	  		<input type="checkbox" name="Bloque">Bloque<br>
	  		<input type="checkbox" name="Nivel">Nivel<br>
	  		<input type="checkbox" name="Espacio">Espacio<br>
	  		<input type="checkbox" name="Reserva">Reserva<br><br>
	  		<input type="button" onclick="nuevaOrganizacion_1.html" value="Atras">
	  		<input type="reset" name="Limpiar">
  		</div>
  	</form>
  </body>
  </html>