<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Perfil - SpaceManager</title>
    <link rel="stylesheet" type="text/css" href="css/perfilExterno.css">
  </head>
  <body>
  	<div class="left">
  		<div class= "perfil">
  			<img src="https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-8/htmlcss1-img_bike.png" class="fotoPerfil">
  			<h1>Nombre</h1>
  			<h4>Correo Electronico</h4>
  			<p>Hello, :) this user will put here a very long long long long long long long long long long long
  			long long long long long long long long long so long long long long long long long long long 
  			 long long long long long long long long long long personal description. U2</p> 
  		

  			<div class="socialMedia">
  				<a href="#"> Facebook</a>
  				<a href="#"> Google</a>
  				<a href="#"> Twitter</a><br>
  				<a href="#"> LinkedIn</a>
  				<a href="#"> Instagram</a>
  				<a href="#"> Contacto</a>
  			</div>
  		</div>
  	</div>

  	<div class="rigth">
  		<div class="table">
		  		<h3>Organizaciones Propias</h3>
		  		<table>
		  			<thead>
		  				<tr>
		  					<th scope="col">Campo tabla</th>
		  					<th scope="col">Campo tabla</th>
		  					<th scope="col">Campo tabla</th>
		  				</tr>
		  			</thead>
		  			<tbody>
		  				<tr>
		  					<td>value</td>
		  					<td>value</td>
		  					<td>value</td>
		  				</tr>
		  			</tbody>
		  		</table>
  			</div>

  			<div class="table">
		  		<h3>Organizaciones a las que perteneces</h3>
		  		<table>
		  			<thead>
		  				<tr>
		  					<th scope="col">Campo tabla</th>
		  					<th scope="col">Campo tabla</th>
		  					<th scope="col">Campo tabla</th>
		  				</tr>
		  			</thead>
		  			<tbody>
		  				<tr>
		  					<td>value</td>
		  					<td>value</td>
		  					<td>value</td>
		  				</tr>
		  			</tbody>
		  		</table>
  			</div>
  	</div>

  </body>
</html>