<!DOCTYPE html>
<html>

  <head>

    <meta charset="UTF-8">
    <title>Resultados Reserva - SpaceManager</title>
    <link rel="stylesheet" type="text/css" href="css/reservarResultados.css">
    <h1>Reserva ID</h1><h3>#########</h3>
  </head>
  	<body>
		<div class="tabla">
			<table>
	  			<thead>
	  				<tr>
	  					<th scope="col">ID Espacio</th>
	  					<th scope="col">Dia Reserva</th>
	  					<th scope="col">Fecha Inicio</th>
	  					<th scope="col">Fecha Fin</th>
	  					<th scope="col">Hora Inicio</th>
	  					<th scope="col">Hora Fin</th>
	  					<th scope="col">RESERVAR</th>
	  				</tr>
	  			</thead>
	  			<tbody>
	  				<tr>
	  					<td>value</td>
	  					<td>value</td>
	  					<td>value</td>
	  					<td>value</td>
	  					<td>value</td>
	  					<td>value</td>
	  					<td>value</td>
	  				</tr>
	  			</tbody>
	  		</table>
		</div>

		<div class="pie">
			<button onclick="Volver()">Reserva Anterior</button>
			<b>Reserva numero </b><label> ## </label><b> de </b><label> ## </label>
			<button onclick="reservar()">Siguiente</button>
		</div>
	</body>
</html>