body {
	width: 40%;
	position: relative;
	margin: 0 auto;
}
h1, h3 {
	text-align: center;
}

.left {
	float: left;
}

.rigth {
	float: right;
}

input[type=text] {
	width: 50%;
    margin: 8px 0;
    display: inline-block;
}